$buttonColor: #74ff43;
$primaryBg: #1f1f1f;
$secondaryBg: #3e3e3e;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}

.partyContainer {
}

.knowledgeContainer {
}

.stockTipsContainer {
}
